/results/
/orig_results/
*.pyc
__pycache__/
test_tmux.py
tick.txt
/TEMP/
*.dat
*.pkl
*.png
*.npz
/.devcontainer/.env
/docker/
/cublas/
/.vscode/
/jl_scripts/
/test/
rsync2jl.sh
local_backup.sh
exclude-file.txt
.venv
.ruff_cache
archives
*.sh